@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');
@font-face {/* for utilizing downloaded custom fonts*/
    font-family: "Amatic";
    src: url("./Fonts/AmaticSC-Regular.woff") format("woff"),
         url("./Fonts/AmaticSC-Bold.woff") format("woff");
    font-weight: normal; 
    font-style: normal; /*can add bold/italics*/
}
@font-face {
    font-family: "BebasNeue";
    src: url("./Fonts/BebasNeue-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
*{/*for everything*/
    box-sizing: border-box;
    font-family: Playfair;
    color: #778889;
}
html,body {/*gets rid of white margins*/
    margin: 0; 
    padding: 0;
    display: flex; /*allows the body to push down the footer*/
    flex-direction: column; /*denotes direction in which the object needs its space, for example column represents up down which
    pushes away footer and header.*/
}
.nav ul{
    margin: 0;
} /*gets rid of white margins for ul elements contained in the nav*/
.nav li{ /*the space outside the buttons*/  
    display: inline; /*all elements become aligned in one line*/
}
.nav a{ /*The text inside the buttons and the buttons*/
    display: inline-block; /* allows for vertical padding*/
    padding: .5em; /*em is the size of the font being used*/
    color: white;
    text-decoration: none; /*removes underline*/
}
.nav a:hover{ /* when hovering over elements, gives a background color*/
    background-color: rgba(240, 255, 255, .4); 
}
/* .main-header{
    background-image: url("./images/snow-mountains-blue-sky-and-lake-nature-landscape-header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 1;
} */
.name{
    text-align: center;
    margin: 0; /* flattens the space between words*/
    font-size: 4.9em; /*em is the size of the font being used*/
    font-family: "BebasNeue";
    font-weight: normal; /*h1 tags bold on default so this just sets it to normal*/
    color: black;
}
.name-large{
    font-size: 8em;
}
.personal-summary{/*font management*/
    margin: 1em;
}
.container /*font space management*/
{
    max-width: 900px; /*max width of the text space.*/
    margin: 0 auto;
}
.about{
    font-family: "Amatic";
    font-weight: normal;
    color: #5f9ea0;
    text-align: center; 
    font-size: 4em;

}
.summary{
    text-align: center;
}
.portrait{
    float: left; /*text wraps around the right*/
    height: 250px;
    width: 200px;
    margin: 15px; /*space from image from text*/
    border-radius: 50%; /*makes a circle portrait*/
}
.main-footer{
    margin-top: auto;
    background-color: #00ced1;
    color: white;
    padding: .25em 0;
}
.main-footer-container{
    display: flex;
    align-items: center;
}
.main-footer-container ul{
    flex-grow: 1; /*stretches elements to fill*/
    text-align: end; /*aligns text to the right*/
}
.linkedin{
    padding: 0 10%;
}   
.personalInfo{
    color: #C0C0C0;
    font-size: 1.3em;
    margin: 0 0%;
}
.parallax 
{
        background-image: url("./images/How-To-Blur-Background-On-iPhone.webp");
        min-height: 900px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}