@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');
@font-face {/* for utilizing downloaded custom fonts*/
    font-family: "Amatic";
    src: url("./Fonts/AmaticSC-Regular.woff") format("woff"),
         url("./Fonts/AmaticSC-Bold.woff") format("woff");
    font-weight: normal; 
    font-style: normal; /*can add bold/italics*/
} /*multiple sources provide a backup font if the first one is not supported*/
*{/*for everything*/
    box-sizing: border-box;
    font-family: Playfair;
    color: #778889;
}
html,body {/*gets rid of white margins*/
    margin: 0; 
    padding: 0;
    display: flex; /*allows the body to push down the footer*/
    flex-direction: column; /*denotes direction in which the object needs its space, for example column represents up down which
    pushes away footer and header.*/
}
.nav ul{
    margin: 0;
} /*gets rid of white margins for ul elements contained in the nav*/
.nav li{ /*the space outside the buttons*/  
    display: inline; /*all elements become aligned in one line*/
}
.nav a{ /*The text inside the buttons and the buttons*/
    display: inline-block; /* allows for vertical padding*/
    padding: .5em; /*em is the size of the font being used*/
    color: white;
    text-decoration: none; /*removes underline*/
}
.nav a:hover{ /* when hovering over elements, gives a background color*/
    background-color: rgba(240, 255, 255, .4); 
}
.underline
{
    position: absolute;
    width: 100%;
    border-bottom: 1px solid rgba(240, 255, 255, .7);
    font-weight: lighter;
    margin: 6% 0%
}
.main-header{
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url("./images/snow-mountains-blue-sky-and-lake-nature-landscape-header.jpg");
    background-blend-mode: multiply; /*blends background*/
    background-size: cover; /*covers header space*/
    padding-bottom: 40px; /*extends the header downward*/
}
.name{
    text-align: center;
    margin: 0; /* flattens the space between words*/
    font-size: 4em; /*em is the size of the font being used*/
    font-family: "Amatic";
    font-weight: normal; /*h1 tags bold on default so this just sets it to normal*/
    color: white;
}
.name-large{
    font-size: 8em;
}
.personal-summary{/*font management*/
    margin: 1em;
}
.container /*font space management*/
{
    max-width: 900px; /*max width of the text space.*/
    margin: 0 auto;
}
.about{
    font-family: Bodoni;
    font-weight: normal;
    color: #5f9ea0;
    text-align: center;
    font-size: 2.5em;
}
.portrait{
    float: left; /*text wraps around the right*/
    height: 250px;
    width: 200px;
    margin: 15px; /*space from image from text*/
    border-radius: 50%; /*makes a circle portrait*/
}
.main-footer{
    margin-top: auto;
    background-color: #00ced1;
    color: white;
    padding: .25em 0;
}
.main-footer-container{
    display: flex;
    align-items: center;
}
.main-footer-container ul{
    flex-grow: 1; /*stretches elements to fill*/
    text-align: end; /*aligns text to the right*/
}
.linkedin{
    padding: 0 10%;
}   
.LoginButton{
    position: absolute;
    color:#5f9ea0;
    margin: 2.5% 84%;
}
.MoveRegisterSite{
    position: absolute;
    color:#5f9ea0;
    margin: 2.5% 90%;
}
.loginEmail{
    float: right;
    clear: both;
}
.loginPassword{
    float: right;
    clear: both;
}
.loginInfo{
    float: right;
    clear: both;
    margin: 2.3% 5%;
    border: 0;
}
.personalInfo{
    color: #C0C0C0;
    font-size: 1.3em;
    margin: 0 0%;
}