.firstName{
    margin: 1% 0;
}
.lastName{
    margin: 1% 0;
}
.Email{
    margin: 1% 0;
}
.Password{
    margin: 1% 0;
}
.confirmPassword{
    margin: 1% 0;
}
.submitButton{
    margin: 1% 0;
}
.form{
    text-align: center;
}